.dropdown {
  width: 100%;

  background: transparent;
  color: #596172;

  .dropdown__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px 25px;
    font-size: 15px;

    transition: background 0.3s ease, color 0.3s ease;

    &:hover {
      cursor: pointer;

      color: #f6f0e9;
      transition: background 0.3s ease, color 0.3s ease;
    }

    .dropdown__title-container {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  .dropdown__header,
  .dropdown__description,
  .dropdown__item-text,
  .dropdown__item-text--choosen {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }

  .dropdown__header--open {
    color: #f6f0e9;

    transition: background 0.3s ease, color 0.3s ease;
  }

  .dropdown__list {
    height: 100%;
    max-height: 100vh;

    .dropdown__item {
      color: #596172;

      opacity: 1;
      transition: opacity 0.25s ease-in 0.5s;

      .dropdown__item-text {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      .dropdown__item-text--choosen {
        color: #f6f0e9;
      }
    }
  }

  .dropdown__list--hidden {
    max-height: 0;

    .dropdown__item {
      opacity: 0;
      transition: opacity 0.2s;
    }
  }

  .dropdown__list,
  .dropdown__list--hidden {
    transition: max-height 0.7s ease-in-out;
    overflow: hidden;

    border-bottom: 1px solid #596172;

    .dropdown__item {
      padding: 10px 25px;

      display: flex;
      align-items: center;
      gap: 15px;

      font-size: 15px;

      &:last-child {
        padding-bottom: 30px;
      }
    }

    .dropdown__description {
      padding: 5px 25px;
      font-size: 14px;
      cursor: default;
      color: #f6f0e9;
    }
  }

  .dropdown__arrow,
  .dropdown__arrow--hide {
    width: 20px;
    height: 20px;

    transition: transform 0.35s;
  }

  .dropdown__arrow {
    transform: unset;
  }

  .dropdown__arrow--hide {
    transform: rotate(180deg);
  }
}
