.words-count {
  display: flex;
  align-self: flex-end;
  align-items: center;
  gap: 8px;

  h6 {
    font-weight: 400;
    color: #596172;
    margin: 0;

    font-size: 15px;
  }

  .words-count__value,
  .words-count__value--active {
    font-size: 15px;

    cursor: pointer;

    transition: color 0.4s ease;

    &:hover {
      color: lightcoral;
    }
  }

  .words-count__value {
    color: #596172;
  }

  .words-count__value--active {
    color: lightcoral;
  }
}
