.selector {
  width: 700px;

  background: #242933;

  border-radius: 0.5em;

  .selector__input {
    border-radius: 0.5em;

    width: 100%;
    height: 50px;
    padding: 10px 25px;

    background-color: transparent;
    border: 0;

    color: #fff;
    font-size: 18px;
    caret-color: lightcoral;

    &::placeholder {
      color: #596172;
      font-size: 18px;
      font-weight: 500;
    }

    &:focus,
    &:focus-visible {
      border: 0;
      outline: none;
    }
  }

  .selector__languages-list {
    margin: 0;
    padding: 0 0 8px 0;

    max-height: 600px;
    overflow: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .selector__language {
      font-size: 18px;
      list-style-type: none;
      padding: 4px 25px;
      color: #596172;

      transition: background 0.3s ease, color 0.3s ease;

      &:hover {
        cursor: pointer;

        background: #f6f0e9;
        color: #242933;

        transition: background 0.3s ease, color 0.3s ease;
      }
    }
  }
}
