body {
  background-color: #242933;
}

#root {
  .wrapper {
    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 100vw;

    padding: 32px;

    header {
      height: auto;

      flex: 0 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    main {
      flex: 1 1 auto;

      margin: 0 auto;

      transition: width 0.5s ease;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      textarea {
        opacity: 0;
        height: 0;
      }
    }
  }
}
